*{
	padding: 0;
	margin: 0;
}
body{
	background-color: hsl(350, 79%, 95%);
}

.title{
	text-align:center;
	font-size: 100px;
	font-family: 'Old Standard TT', serif;
 }
 
.links{
	display:inline-block;
	margin-left: 20vh;
 	text-align: center;
 	font-size: 50px;
 	font-family: 'Fira Sans Condensed', sans-serif;
 }
#lab{
	margin-left: 1vh;
}

.peer-links{
 	text-align: center;
 	font-size: 40px;
 	font-family: 'Fira Sans Condensed', sans-serif;
 }

span{
	text-align:center;
	font-size: 70px;
	font-family: 'Old Standard TT', serif;
}

 a, a:hover, a:visited, a:active{
 	color: hsl(168, 27%, 72%);
 	text-decoration: none;
 }
